/* bootstrap overrides */

.navbar-inverse {
    background: #242438;
    padding-top:5px;
    padding-bottom:3px;
}

.navbar-inverse .navbar-inner {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border-width:0;
}

.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-width: 6px;
    margin-top: 6px;
}

.navbar a:hover {
    text-decoration:none;
}

.navbar .brand {
    padding-left:4px;
    padding-bottom:4px;
    padding-top:4px;
    margin-right:0;
    margin-left:0;
    color: #f5f5f5;
}
.navbar .brand:hover {
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);*/
}

.navbar .btn {
    background-color: #535368;
    background-image:none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.navbar .btn:hover {
    color: #f2f2f2;
    background-color: #313146;
}

.navbar-inverse .nav>li>a {
    color: #e2e2e2;
}

.navbar-inverse .nav>li>a:hover,.navbar-inverse .nav>li>a:focus {
    color:#efefef;
    background: #007ACC;
}

.nav-pills .dropdown-menu {
    margin-top:4px;
}

@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #dddddd;
    }
}

.navbar .input-append input[type=text] {
    background-color: #313146;
    border-color:transparent;
    font-size:12px;
    color:#eee;
    border-radius:0;
    box-shadow:0 0;
}

.navbar .input-append .btn {
    border-radius:0;
}

.nav-tabs.nav-stacked>li>a {
    border-width: 0;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.well {
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #007ACC;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #007ACC;
  border-color: #007ACC;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.operations-container {
   overflow-y: scroll;
   overflow-x: hidden;
   height: 300px;
   width: 100%;
}

.operations-progress {
   width: 150px;
}

td.spinner {
    height: 200px;
    vertical-align: middle;
    text-align: center;
}

textarea.puppet {
    width: 99%;
    padding: 2px;
}

div.droparea#droparea {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 10px;
    border: 3px dotted #CCCCCC;
    background: #F5F5F5;
}

.droparea input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .droparea-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

div.row#files {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

div#progress {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    visibility: hidden;

}

img.spinner {
    visibility: hidden;
}