@(field: Field, label:String, placeholder:String, help:String)

<div class="control-group @if(field.hasErrors) {error}">
    <label class="control-label">@label</label>

    <div class="controls">
        <input
                class="input-xlarge"
                type="text"
                id="@field.id"
                name="@field.name"
                value="@field.value.getOrElse("")"
        placeholder="@placeholder" />
        <p class="help-block">@help</p>

        <p class="help-block">@{field.error.map { error => error.message }}</p>
    </div>
</div>