@(clusterDeletionForm: Form[views.data.ClusterDeletionForm],
delete:String)

@import form._

@main(title = "MongoDB") {
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-leaf icon-white"></i>
                MongoDB sharded cluster deletion wizard
            </h4>
        </div>
        <div class="panel-body">
            @if(flash.containsKey("success")) {
            <div id="success-message" class="alert alert-success">
                @flash.get("success")
            </div>
            <p></p>

            <div class="center-block">
                <a class="btn btn-primary" href="@routes.GoogleComputeEngineApplication.gceIndex(None)">Accept</a>
            </div>
            } else {
            <p>All the instances in the cluster will be completely removed. Do you want to proceed?</p>

            @helper.form(routes.GoogleComputeEngineApplication.deleteClusterWizardPost(), 'class -> "form-horizontal") {
            <fieldset>
                <!-- Delete -->
                @hidden(clusterDeletionForm("delete"))

                <div class="control-group">
                    <div class="controls">
                        <input id="submit" type="submit" value="Proceed" class="btn btn-primary">
                        <button id="cancel" class="btn cancel"
                                formaction="@routes.GoogleComputeEngineApplication.gceIndex(None)" formmethod="get">
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
            }
            @if(flash.containsKey("error")) {
            <div id="error-message" class="alert alert-error">
                @flash.get("error")
            </div>
            }
            }
        </div>
    </div>
</div>
}